@keyframes girar {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  @keyframes visible {
    0% {
        top: 100vh;
    }
    100% {
        top:0;
    }
}
@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes left1{
  0% {
    -webkit-transform: translateX(-66%);
  }
  100% {
      -webkit-transform: translateX(0%);
  }
}
@keyframes left2{
  0% {
    -webkit-transform: translateX(0%);
  }
100% {
    -webkit-transform: translateX(-33%);
}
}
@keyframes left3{
  0% {
    -webkit-transform: translateX(-33%);
}
100% {
    -webkit-transform: translateX(-66%);
}
}
@keyframes hide {
  0% {
    opacity: 1;
}
100% {
    opacity: 0;
    display: none;
} 
}
@keyframes show {
  0% {
    opacity: 0;
}
100% {
    opacity: 1;
    display: block;
} 
}